body{

        border: 2px solid black;
	height:1000px;
	width:800px;
	margin:auto;


}



#header{

font-family:Georgia;
color:blue;
background-color:gray;
font-style:bold;
font-size:24px;
text-align:center;


}

#intro{

	font-family:Georgia;
	color:dark;
	font-size:18px;
	
}


#educate{

	border-radius:0px;
	font-family:Arial;
	color:dark;
	font-size:16px;
        margin-bottom:20px;


}



.left{
	float:left;
	


}
.right{
	float:right;
	
	

}


#profession {
	border-radius:0px;
	font-family:Arial;
	color:dark;
	font-size:16px;
        clear:both;



}

